body {  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  background-image: url(./img/cover_photo.jpg);
  background-size: 100%;
  min-height: 100vh;  
  width: 100%;
  position: relative;
  margin: 0;
  padding: 0;  
  background-repeat: repeat-y; 
  background-position: left top; 
  background-attachment: fixed; 
  position: relative;
  padding-top: 14vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.cover-image {
  position: fixed;
}




